<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <servers>
        <!-- Jar repositories -->
        <server>
            <id>autentia-releases</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>autentia-snapshots</id>
            <username>admin</username>
            <password>admin123</password>
        </server>

        <!-- Docker repositories -->
        <server>
            <id>nexus.autentia.com:5000</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
    </servers>
    <proxies/>
    <profiles/>
    <activeProfiles/>
</settings>
